body {
    width: 100vw;
    overflow-x: hidden;
} 

/* Fixed Content */
.orange {background: #ffb125 !important;}
.text-orange {color: #ffb125 !important;}
.hidden {display: none; opacity: 0;}
a {text-decoration: none;}
.start {margin-top: 10vh; !important}

/* Menu */
.menu {
    position: fixed;
    top: 0;
    height: 10vh;
    min-height: 50px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 0;
    z-index: 100;
    background: white;
}

.menu-wrapper {
    position: relative;
    margin: auto;
    height: 100%;
    max-width: 1200px;
}

.index-logo {position: relative; vertical-align: middle; transform: translate(0,-50%); top: 50%; display: inline-block; width: 10%; margin: 0; float:left; min-width: 100px;}
.index-logo > img {width: 100%;}

.navigation {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 10vh;
    min-height: 50px;
    width: 80%;
    text-align: right;
    float: right;
    margin: 0;
}

.navigation-option {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translate(0,-50%);
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin-left: 5px;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
}

.navigation-option > a {
    color: white;
}


.navigation-option > .no-home {color: #5d5d5d;}
.navigation-option > .active {color: #ffb125;}
.navigation-option > .no-home:hover {color: #ffb125;}

.navigation-option > .do-home {color: white;}
.navigation-option > .do-home:hover {color: #ffb125;}

/* Homepage */

.homepage-logo {
    position: absolute;
    width: 60vw;
    height: 20vw;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.homepage-logo > img {
    width: 100%;
}

/* Us */

.us-container {
    position: relative;
    height: auto;
    width: 100vw;
    margin: auto;
    overflow: hidden;
}

.us-wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font-size: 0;
    top: 5%;
    margin-bottom: 6%;
    margin-top: 13vh;
}

.us-wrapper > div { height: 100%; margin: auto; display: inline-block;} 
.us-wrapper > .us-photo {width: 35%; vertical-align: top;}
.us-photo > img {position: relative; width: 90%; top: 5%;}
.us-wrapper > .side-text {font-size: 14px; width: 65%; height: auto; vertical-align: top;}
.side-text > div {margin-left: 10%;}
.side-text > .title {font-size: 5em;}
.side-text > .description {font-size: 1.1em; width: 90%; line-height: 5vh; text-align: justify;}

.how-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffb125;
    overflow: hidden;
}

.how-boundaries {width: 100%; max-width: 1200px; height: 100%; margin: auto; font-size: 0; padding-top: 10%; padding-bottom: 5%;}
.how-boundaries > .first-text {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 8vw;
    width: 30vw;
    color: white;
    word-break: break-all;
    top: 15%;
    text-align: justify;
}

.how-boundaries > .description {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 60%;
    margin-left: 5%;
    color: white;
    line-height: 5vh;
    text-align: justify;
}


/* Clients */

.clients-container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 17vh;
}

.clients-header {
    position: relative;
    width: 100%;
    font-size: 0;
}

.clients-header > .title {position: relative; float: left; font-size: 4vw; width: 40%; vertical-align: middle;}
.clients-header > .quote-box {position: relative; float: right; width: 60%; height: 200px; background: #E2E2E2; vertical-align: middle;}

/* Loader */

.before-redirection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.95);
    z-index: 10000;
    display: none;
}

.before-redirection > img {
    position: absolute;
    width: 84px;
    height: auto;
    top: 50%;
    left: 0;
    right: 0;   
    margin: auto;
    transform: translate(0,-50%);
}

/* Clients */

.clients-grid {
    position: relative;
    margin: auto;
    width: 100%;
    clear: both;
    height: auto;
    max-width: 1200px;
    font-size: 0;
    top: 50px;
    text-align: justify;
}

.client {
    position: relative;
    display: inline-block;
    width: 20%;
    margin-right: 6.5%;
    height: auto;
    margin-bottom: 50px;
}

.last-grid {
    margin-right: 0;
}

.client > img {
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s ease;
}

.client > img:last-child {
    position: absolute;
    opacity: 0;
    z-index: 2;
}

.client:hover img:last-child {
    opacity: 1;
}

@media screen and (max-width: 1000px){
    .us-wrapper > .side-text > div {margin: 0; margin-left: 4vw;}
    .us-wrapper > .us-photo {margin-left: 10px;}
}

@media screen and (max-width: 1200px){
    
    /* MENU N US */
    .us-wrapper > .side-text > .title {font-size: 3em;}
    .us-wrapper {margin-top: 50px;}
    .us-wrapper > .us-photo {margin-left: 10px;}
    .navigation {margin-right: 20px;}
    .index-logo { margin-left: 10px;}
    .us-wrapper > .side-text {width: 60%;}
    .how-boundaries {max-height: 100vh;}
    .us-wrapper > .side-text > div {width: 90%;}
    .side-text > .description {line-height: 1em;}
    .how-boundaries > .first-text {margin-left: 10px;}
    .how-boundaries > .description > p {font-size: 14px;}
    .how-boundaries > .description {width: 58%;}
    
    /* Clients */
    .clients-header {width: 95%; margin-left: 1%;}
    .clients-grid {width: 95%; margin-left: 1%;}
    
}

@media screen and (min-width: 1500px) {
    /* Us Responsive Sizes */
    .us-wrapper > .us-photo {vertical-align: middle;}
    .us-wrapper > .side-text {vertical-align: middle;}
    .side-text > .description{line-height: 2em;}
    .how-boundaries > .first-text {width: 40%; font-size: 7vw;}
    .how-boundaries > .description {width: 50%;}
    .clients-header > .title {font-size: 3vw;}
}
